Repository front-end-by-rimantas/35-grupe-portfolio-oxo, pull requests merged in 2022-04, with the labels that each got.

#20 authors info in package.json
  package.json
Labels: Type: documentation

#30 Header basic structure
  index.html
Labels: HTML

#34 our team commit for review
  index.html
Labels: CSS: responsive, HTML

#33 "Moving blocks" basic structure
  index.html
Labels: HTML

#38 form layout commit
  index.html
Labels: CSS: responsive, HTML

#31 Layout whatwedo
  index.html
Labels: HTML

#45 font css first take
  css/base/base.css
  index.html
Labels: CSS, HTML

#57 First merge to the master
  README.md
  css/3rd-party/.gitkeep
  css/3rd-party/faq.css
  css/base/backgroundColors.css
  css/base/base.css
  css/base/footer.css
  css/base/layout.css
  css/components/button.css
  css/pages/home.css
  favicon.ico
  favicon/android-chrome-192x192.png
  favicon/android-chrome-256x256.png
  favicon/apple-touch-icon.png
  favicon/browserconfig.xml
  favicon/favicon-16x16.png
  favicon/favicon-32x32.png
  favicon/mstile-150x150.png
  favicon/safari-pinned-tab.svg
  favicon/site.webmanifest
  img/logo.png
  img/our-team-images/projekto-foto-berniukas.png
  img/our-team-images/projekto-foto-mergaite.png
  img/what-we-do-images/contract-ico.png
  img/what-we-do-images/what-we-do-image.png
  index.html
  js/pages/home.js
  package.json
Labels: CSS: responsive, HTML

#65 image with form
  css/pages/home.css
  img/form-sec-images/girl-pc.png
  index.html
Labels: CSS

#70 clean code
  css/pages/home.css
Labels: CSS

#75 Footer for level2
  css/base/backgroundColors.css
  css/base/footer.css
  css/pages/home.css
  index.html
Labels: CSS, HTML

#80 Moving blocks
  css/base/moving-blocks.css
  css/pages/home.css
  index.html
  js/components/moving-blocks.js
  js/data/blocks-section-data.js
  js/pages/home.js
Labels: CSS, HTML, JS

#83 Header lvl3
  css/base/header.css
  css/components/circle.css
  index.html
  js/pages/home.js
Labels: CSS, HTML, JS

#86 Form lv3
  css/base/form-row.css
  css/pages/home.css
  index.html
Labels: CSS, HTML

#91 Free trial 4
  css/base/free-trial.css
  css/components/button.css
  css/pages/home.css
  index.html
Labels: CSS, HTML

#90 Our team
  css/base/our-team.css
  css/pages/home.css
  js/pages/home.js
Labels: CSS, JS

#94 header bug fix
  js/pages/home.js
Labels: JS

#100 Validation 1level
  js/components/moving-blocks.js
  js/pages/home.js
Labels: JS

#104 header bug fix 2
  js/pages/home.js
Labels: JS

#105 scroll bar style
  css/components/scroll-bar.css
  css/pages/home.css
Labels: CSS

#109 Up to top
  css/base/up-to-top.css
  css/pages/home.css
  index.html
  js/pages/home.js
Labels: CSS, HTML, JS

#110 fixed
  css/base/form-row.css
Labels: CSS

#108 What we do 4
  css/base/whatWeDo.css
  css/pages/home.css
  index.html
  js/pages/home.js
Labels: CSS, JS

#111 Header lvl4
  css/base/header.css
  index.html
  js/pages/home.js
Labels: CSS, HTML, JS
